* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searchEmoji {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 18rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 12px;
  outline: 0;
}

.emojiContainer {
  margin: 0.5rem 0;
  border: 1px solid black;
  height: 20rem;
  width: 18rem;
  overflow-y: scroll;
  border-radius: 12px;
}

.emojiList {
  text-align: center;
}

.emoji {
  padding: 1rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyEmojiButton {
  font-size: 3rem;
  outline: 0;
  border: 0;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

footer {
  margin: 1rem 0;
  text-align: center;
  font-size: 0.9rem;
}
